<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Cemantary</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <!-- HEADER -->
            <header id="header">
                <nav>
                    <div class="container">
                        <div class="text-center">
                            <a href="/" class="nav-brand text-dark">User Management System</a>
                        </div>
                    </div>
                </nav>
            </header>
        <!-- HEADER -->

        <!-- MAIN -->
            <main id="site-main">
                <div class="container">
                    <div class="box-nav d-flex justify-between">
                        <div class="filter">
                            <a href="/"><i class="fas fa-angle-double-left"></i> All Pets </a>
                        </div>
                    </div>
                    <div class="form-title text-center">
                        <h2 class="text-dark">New Pet</h2>
                        <span class="text-light">Introduce your pet</span>
                    </div>
                    <!-- Form -->
                    <form method="POST" id="update_user">
                        <div class="new_user">
                            
                            <div class="form-group">
                                <label for="name" class="text-light">Pet Name</label>
                                <input type="hidden" name="id" value="">
                                <input type="text" name="name" value="" placeholder="Oliver">
                            </div>

                            <div class="form-group">
                                <label for="picture" class="text-light">Picture</label>
                                <input type="file" name="image" value="">
                            </div>

                            <div class="radio inline">
                                
                                <label for="" class="text-light">Pet Name</label>
                                
                                <input type="radio" id="lizard" name="species" value="lizard">
                                <label for="lizard">Lizard</label>
                                
                                <input type="radio" id="cat" name="species" value="cat">
                                <label for="cat">Cat</label>

                                <input type="radio" id="dog" name="species" value="dog">
                                <label for="dog">Dog</label>

                                <input type="radio" id="spider" name="species" value="spider">
                                <label for="spider">Spider</label>

                                <input type="radio" id="hamster" name="species" value="hamster">
                                <label for="hamster">Hamster</label>

                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="friendly" value="true">
                                <label for="friendly"> Is Friendly? </label>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn text-dark update">Introduce</button>
                            </div>

                        </div>
                        
                    </form>

                </div>
            </main>
        <!-- /MAIN-->

    </body>
</html>