<!-- Including header -->
<%- include('include/_header') %>
<!-- /Including header -->

<!-- MAIN -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Pets </a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Pet</h2>
            <span class="text-light">Introduce your pet</span>
        </div>
        
        <!-- Add Form -->
        <%- include('include/_form') %>

    </div>
</main>
<!-- /MAIN-->

<!-- Including footer -->
<%- include('include/_footer') %>
<!-- /Including footer -->