<!-- Including header -->
    <%- include('include/_header') %>
<!-- /Including header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-pet" class="border-shadow">

                <span class="text-gradient">New Pet <i class="fa fa-paw" aria-hidden="true"></i></span>

            </a>
        </div>

        <!-- Form -->
        <form action="/" method="POST">
            <table class="table">
                <tbody class="deck">
                    <%- include('include/_card') %>
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- Including footer -->
    <%- include('include/_footer') %>
<!-- /Including footer -->