<tr>
    <td>Princess Muffin</td>
    <td><img src="https://www.mundoecologia.com.br/wp-content/uploads/2020/05/Lagarto-Dactyloa-Transversalis-6.jpg" alt="" width="300"></td>
    <td>Lizard</td>
    <td>100% Percent!</td>
    <td>
        <a href="/update-pet" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>